@import-normalize;  /* Create-React-App wau to bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600&display=swap');

.App {
  height: 100vh;
  width: 100%;
  background-color: #708090;
  font-family: 'Archivo', sans-serif;
}
.App-header {
  display: flex;
  flex-direction: row;
  padding: 10px 12px;
  font-weight: 600;
  h1 {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  button {
    height: 48px;
    width: 48px;
    font-size: 2rem;
    position: absolute;
    top: 8px;
    right: 10px;
  }
}
.App-bookmarks-list {
  display: flex;
  flex-direction: column;
  padding: 10px 12px;
  font-weight: 400;
}
